# ignore the composer vendor folder 
vendor/

# ignore the logging folder content
src/logging/

# ignore all third party software
src/3rd/

# ignore the baseline
db/images/image baseline (niet verwijderen)/

# ignore the original articles 
db/images/artikelen/

# ignore the google tracker 
src/config/analyticstracking.php

# ignore all visio studio stuff 
src/.vs/

# ignore certain file types 
*.rar
*.bat

.phpunit.result.cache

# ignore the code form another project
src/class/Log.php
src/class/MysqlDatabase.php
src/class/MysqlConfig.php