# ignore all third party software
# src\3rd\class\

# ignore the google tracker 
src/config/analyticstracking.php

# ignore the config.php after the initial commit. 
# We don't want to publish the login and username for the website by mistake 
src/config/config.php